@model HotelApp.ViewModels.RoomVM

<div class="room-detail">
    <h2>@Model.TypeName - @Model.AreaName</h2>

    <!-- Owl Carousel -->
    <div id="carouselExampleIndicators" class="owl-carousel owl-theme">
        @foreach (var imageUrl in Model.ImageUrls)
        {
            <div class="item">
                <img src="@imageUrl" alt="Room Image" class="d-block w-100 img-fluid">
            </div>
        }
    </div>
    <h5>@Model.Description</h5>
    <h3>
        Giá gốc:
        <span style="text-decoration: line-through; color: gray;">
            @Model.Price.ToString("N0") VND
        </span>
    </h3>
    <h3>
        Ưu đãi:
        <span style="color: red; font-weight: bold;">
            @Model.Total.ToString("N0") VND
        </span>
    </h3>
    <h3>Số người tối đa: @Model.People</h3>
    <h3>Tiện nghi:</h3>
    <ul>
        @foreach (var amenity in Model.AmenityNames)
        {
            <li class="btn btn-sm btn-primary">@amenity</li>
        }
    </ul>
    <button id="bookingBtn" data-roomid ="@Model.Id" class="btn w-100  my-3" style="background-color: black; color: white;">Đặt ngay</button>
</div>
